@using SharedModels.Entities
@using SharedModels.ViewModels
@using Blazor.Data;

@page "/post/{Id:int}"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject PostService PostService

@if (posts == null)
{
    <p>Loading posts...</p>
}

else
{
    <button class="btn btn-success ml-auto" @onclick="@(() => CreatePostDialog("Create"))">Add New Post</button>
    @foreach (var post in posts)
    {
        <div class="post-preview">
            <h4>@post.Title</h4>
            <p>@post.Content</p>
            <p>@post.Created.ToString("yyyy-MM-dd")</p> 
            <button class="btn btn-primary" @onclick="@(() => ViewPost(post.PostId))">View</button>
            <button class="btn btn-secondary" @onclick="@(() => EditPostDialog("Update", post.PostId, post))">Edit</button>

            <button class="btn btn-danger" @onclick="@(() => DeletePost(post.PostId))">Delete</button>
        </div>
    }
   


}
<PostDialogBox Title="@_titleDialog"
               post="@_viewPost"
               OnCancel="CancelPostDialog"
               OnSave="OnSavePostDialog"
@ref="_dialog"></PostDialogBox>


@code {
    [Parameter]
    public int Id { get; set; }
    //private List<SharedModels.Entities.Post> posts;
    private SharedModels.Entities.Post _post = new SharedModels.Entities.Post();
    private PostCreateViewModel _viewPost = new PostCreateViewModel();
    private PostEditViewModel _viewEditPost = new SharedModels.ViewModels.PostEditViewModel();
    private string _titleDialog;
    private PostDialogBox _dialog;

    //private IEnumerable<Post> posts;
    private IEnumerable<SharedModels.Entities.Post> posts;

    protected override async Task OnInitializedAsync()
    {
        await GetPostsForBlog(Id); //posts
        
        _titleDialog = "title";
    }

    private void CancelPostDialog()
    {
        _dialog.CloseDialog();
    }

    private async Task OnSavePostDialog()
    {
        if (_titleDialog == "Create")
        {
            await PostService.CreatePostAsync(_viewPost);
            await GetPostsForBlog(Id);
            _dialog.CloseDialog();
        }
        else if (_titleDialog == "Update")
        {
            Console.WriteLine("Update button clicked");
            Console.WriteLine($"_post.Title før oppdatering: {_post.Title}");
            Console.WriteLine($"_post.Content før oppdatering: {_post.Content}");
            Console.WriteLine($"_post.IsCommentAllowed før oppdatering: {_post.IsCommentAllowed}");


            _post.Title = _viewEditPost.Title;
            _post.Content = _viewEditPost.Content;
            _post.IsCommentAllowed = _viewEditPost.IsCommentAllowed;

            Console.WriteLine($"_post.Title etter oppdatering: {_post.Title}");
            Console.WriteLine($"_post.Content etter oppdatering: {_post.Content}");
            Console.WriteLine($"_post.IsCommentAllowed etter oppdatering: {_post.IsCommentAllowed}");

            // Legg til loggmeldinger for å sjekke verdiene i _viewEditPost
            Console.WriteLine($"_viewEditPost.Title: {_viewEditPost.Title}");
            Console.WriteLine($"_viewEditPost.Content: {_viewEditPost.Content}");
            Console.WriteLine($"_viewEditPost.IsCommentAllowed: {_viewEditPost.IsCommentAllowed}");

            await PostService.UpdatePostAsync(_viewEditPost.PostId, _viewEditPost);
            await GetPostsForBlog(Id);
            _dialog.CloseDialog();
        }
    }

    private async Task GetPostsForBlog(int blogId)
    {
        var response = await HttpClient.GetAsync($"api/post/{blogId}/posts");
        if (response.IsSuccessStatusCode)
        {
            var postIndexViewModel = await response.Content.ReadFromJsonAsync<PostIndexViewModel>();
            posts = postIndexViewModel.Posts;
        }
        else
        {
            // Håndter feilen, kanskje ved å vise en feilmelding til brukeren
        }
    }
    private void ViewPost(int postId)
    {
        NavigationManager.NavigateTo($"/postdetails/{postId}");
    }


    private async Task DeletePost(int postId)
    {
        // Kall PostService for å slette innlegget
        // Oppdater listen etter sletting
    }

    private void CreatePostDialog(string title)
    {
        _post = new SharedModels.Entities.Post()
            {
                Created = DateTime.Now,
              

            };
        _viewPost= new PostCreateViewModel()
            {
                IsCommentAllowed = true,
                BlogId = Id,

            };
        _titleDialog = title;
        _dialog.Show();
    }

    private void EditPostDialog(string title, int postId, SharedModels.Entities.Post post)
    {
        _post = post;
        _viewEditPost = new PostEditViewModel()
            {
                PostId = postId, // Sett postens ID
                BlogId = Id,
                Title = post.Title,
                Content = post.Content,
                Created = post.Created,
                IsCommentAllowed = post.IsCommentAllowed
            };
        // Legg til loggmeldinger for å sjekke verdier
        Console.WriteLine("EditPostDialog - Start");
        Console.WriteLine($"_post.PostId: {_post.PostId}");
        Console.WriteLine($"_post.Title: {_post.Title}");
        Console.WriteLine($"_post.Content: {_post.Content}");
        Console.WriteLine($"_post.IsCommentAllowed: {_post.IsCommentAllowed}");
        Console.WriteLine($"_viewEditPost.PostId: {_viewEditPost.PostId}");
        Console.WriteLine($"_viewEditPost.Title: {_viewEditPost.Title}");
        Console.WriteLine($"_viewEditPost.Content: {_viewEditPost.Content}");
        Console.WriteLine($"_viewEditPost.IsCommentAllowed: {_viewEditPost.IsCommentAllowed}");
        Console.WriteLine("EditPostDialog - End");
        _titleDialog = title;
        _dialog.Show();
    }



    void CancelDialog()
    {
        _dialog.CloseDialog();
    }

}


