@using SharedModels.Entities
@using SharedModels.ViewModels
@using Blazor.Data;
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt;

@page "/post/{Id:int}"

@inject NavigationManager NavigationManager
@inject PostService PostService
@inject CustomAuthenticationStateProvider AuthenticationStateProvider



<div class="d-flex justify-content-between">
    <h3>Posts for Blog "@_blogTitle"</h3>
    <button class="btn btn-primary" @onclick="@(() => NavigateToBlogs())">Go back to blog list</button>
</div>



@if (posts == null)
{
    <p>Loading posts...</p>
}

else
{

    @if (allowed && user.Identity.IsAuthenticated)
    {

        <button class="btn btn-success ml-auto" @onclick="@(() => CreatePostDialog("Create"))">Add New Post</button>
    }
    @foreach (var post in posts)
    {
        <div class="card post-preview mb-4">
            <div class="card-body">
                <h4 class="card-title">@post.Title</h4>
                <p class="card-text">@post.Content</p>
                <p class="card-text"><small class="text-muted">@post.OwnerUsername posted on @post.Created.ToString("yyyy-MM-dd")</small></p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" disabled="disabled" @bind="post.IsCommentAllowed" />
                    <label class="form-check-label" for="commentCheckbox">Allow Comments</label>
                </div>

                <button class="btn btn-primary mt-2" @onclick="@(() => NavigateToComments(post.PostId))">See Comments</button>

                @if (post.OwnerId == _userId)
                {
                    <div class="mt-2">
                        <button class="btn btn-secondary" @onclick="@(() => EditPostDialog("Update", post.PostId, post))">Edit</button>
                        <button class="btn btn-danger ml-2" @onclick="@(() => DeletePost(post.PostId))">Delete</button>
                    </div>
                }
            </div>
        </div>

    }
   


}
<PostDialogBox Title="@_titleDialog"
               post="@_viewEditPost"
               OnCancel="CancelPostDialog"
               OnSave="OnSavePostDialog"
@ref="_dialog"></PostDialogBox>


@code {
    [Parameter]
    public int Id { get; set; }
    private SharedModels.Entities.Post _post = new SharedModels.Entities.Post();
    private PostCreateViewModel _viewPost = new PostCreateViewModel();
    private PostEditViewModel _viewEditPost = new SharedModels.ViewModels.PostEditViewModel();
    private string _titleDialog;
    private PostDialogBox _dialog;
    private PostIndexViewModel postIndexViewModel;
    private bool allowed;
    private IEnumerable<SharedModels.Entities.Post> posts;
    private ClaimsPrincipal user;
    private string _username;
    private string _userId;
    private string _blogTitle;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        _username = user?.FindFirst(JwtRegisteredClaimNames.Sub)?.Value;
        _userId = user?.FindFirst(JwtRegisteredClaimNames.NameId)?.Value;
        await GetPostsForBlog(Id);
        _titleDialog = "title";
    }

    private void CancelPostDialog()
    {
        _dialog.CloseDialog();
    }

    private async Task OnSavePostDialog()
    {
        if (_titleDialog == "Create")
        {
            // Konverter fra PostEditViewModel til PostCreateViewModel
            //EditViewmodel er i dialogboxen siden den inneholder alle verdiene edit og create trenger
            var createViewModel = new PostCreateViewModel
                {
                    Title = _viewEditPost.Title,
                    Content = _viewEditPost.Content,
                    BlogId = _viewEditPost.BlogId,
                    IsCommentAllowed = _viewEditPost.IsCommentAllowed
                };

            Console.WriteLine("Creating new post...");
            await PostService.CreatePostAsync(createViewModel);
            Console.WriteLine("New post created.");
        }
        else if (_titleDialog == "Update")
        {
            // Send PostEditViewModel direkte
            Console.WriteLine($"Updating post with ID {_viewEditPost.PostId}...");
            await PostService.UpdatePostAsync(_viewEditPost.PostId, _viewEditPost);
            Console.WriteLine($"Post with ID {_viewEditPost.PostId} updated.");
        }

        await GetPostsForBlog(Id);
        Console.WriteLine("Posts updated after save operation.");
        _dialog.CloseDialog();
        Console.WriteLine("Dialog closed.");
    }


    private async Task GetPostsForBlog(int blogId)
    {
        var postIndexViewModel = await PostService.GetPostsByBlogIdAsync(blogId);
        posts = postIndexViewModel.Posts;
        allowed = postIndexViewModel.IsPostAllowed;
        _blogTitle = postIndexViewModel.BlogTitle;
    }


   

    private async Task DeletePost(int postId)
    {
       
            var success = await PostService.DeletePostAsync(postId);
            if (success)
            {
                // Oppdater listen over innlegg her, eller naviger brukeren til en annen side
                 await GetPostsForBlog(Id);
            }
            else
            {
                // Vis en feilmelding til brukeren
            }
        }
    


    private void CreatePostDialog(string title)
    {
        _post = new SharedModels.Entities.Post()
            {
                Created = DateTime.Now,
               
            };

        // Overfør verdier fra '_post' til '_viewEditPost'
        _viewEditPost = new PostEditViewModel()
            {
                BlogId = Id,
                IsCommentAllowed = true,
                Title = "", 
                Content = "",
                Created = _post.Created
            };

        _titleDialog = "Create";
        _dialog.Show();
    }

    private void EditPostDialog(string title, int postId, SharedModels.Entities.Post post)
    {
        _post = post;
        _viewEditPost = new PostEditViewModel()
            {
                PostId = postId, // Sett postens ID
                BlogId = Id,
                Title = post.Title,
                Content = post.Content,
                Created = post.Created,
                IsCommentAllowed = post.IsCommentAllowed,
                OwnerId = post.OwnerId,
                OwnerUsername = post.OwnerUsername
                    
            };
        // Legg til loggmeldinger for å sjekke verdier
        Console.WriteLine("EditPostDialog - Start");
       
        _titleDialog = title;
        _dialog.Show();
    }



    void CancelDialog()
    {
        _dialog.CloseDialog();
    }

    private void NavigateToComments(int postId)
    {
        NavigationManager.NavigateTo($"/comment/{postId}");
    }

    private void NavigateToBlogs()
    {
        NavigationManager.NavigateTo($"/blogs");
    }
}


