@using SharedModels.Entities
@using SharedModels.ViewModels
@using Blazor.Data;
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt;
@using WebAPI.Migrations

@page "/searchSeePost/{Id:int}/{SearchQuery}"

@inject NavigationManager NavigationManager
@inject PostService PostService
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject NotificationService NotificationService

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous">
</head>

<div class="d-flex justify-content-between">
        <button class="btn btn-primary" @onclick="@(() => NavigateToSearchPosts())">Go back to search list</button>
</div>



@if (posts == null)
{
    <p>Loading posts...</p>
}

else
{

    @foreach (var post in posts)
    {
        <div class="card post-preview mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <!-- Adjust the column size as needed -->
                        <h4 class="card-title">@post.Post.Title</h4>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto">
                                <label for="likes" class="mr-2">@post.Post.CountLike Likes</label>
                            </div>
                            @if (user.Identity.IsAuthenticated && post.Post.OwnerId != _userId)
                            {
                                <div class="col-auto">
                                    <button class="btn btn-success" @onclick="@(() => Like(post))">
                                        <i class="fas fa-thumbs-up"></i>
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <label for="vote" class="mr-2">@post.Like</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <p class="card-text"><small class="text-muted">@post.Post.OwnerUsername posted on @post.Post.Created.ToString("yyyy-MM-dd")</small></p>
                @if (post.Post.OwnerId == _userId)
                {
                    <div class="mt-2">
                        <button class="btn btn-secondary" @onclick="@(() => EditPostDialog("Update", post.Post.PostId, post.Post))">Edit</button>
                        <button class="btn btn-danger ml-2" @onclick="@(() => DeletePost(post.Post.PostId))">Delete</button>
                    </div>
                }
                <br/>
                <div class="row">
                    <div class="col-auto">
                        <p class="card-text">@post.Post.Content</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" disabled="disabled" @bind="post.Post.IsCommentAllowed" />
                            <label class="form-check-label" for="commentCheckbox">Allow Comments</label>
                        </div>
                        <button class="btn btn-primary mt-2" @onclick="@(() => NavigateToComments(post.Post.PostId))">See Comments</button>
                    </div>
                    <div class="col-auto">
                    @if (post.Post.ImageBase64 != "")
                    {
                        <div>
                            <img src="@($"data:image/png;base64,{post.Post.ImageBase64}")"/>
                        </div>
                    }
                    <div>
                        @if (post.Post.OwnerId == _userId)
                        {
                            if (post.Post.ImageBase64 == "")
                            {
                                <button class="btn btn-link btn-sm ml-2" @onclick="@(() => InsertImage(post.Post))">Add Image</button>
                            }
                            else
                            {
                                <button class="btn btn-link btn-sm ml-2" @onclick="@(() => InsertImage(post.Post))">Change Image</button>
                                <button class="btn btn-link btn-sm ml-2" @onclick="@(() => DeleteImage(post.Post))">Delete Image</button>
                            }
                        
                        }
                    </div>
                    </div>

                </div>

 
            </div>
        </div>

    }
   


}
<PostDialogBox Title="Details"
               post="@_viewEditPost"
               OnCancel="CancelPostDialog"
               OnSave="OnSavePostDialog"
               @ref="_dialog"></PostDialogBox>

<ImageUpload   post="@_post"
               OnCancel="CancelImageDialog"
               OnSave="OnSaveImageDialog"
               @ref="_dialogImage"></ImageUpload>


@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string SearchQuery { get; set; }
    private SharedModels.Entities.Post _post = new SharedModels.Entities.Post();
    private PostCreateViewModel _viewPost = new PostCreateViewModel();
    private PostEditViewModel _viewEditPost = new SharedModels.ViewModels.PostEditViewModel();
    private PostDialogBox _dialog;
    private ImageUpload _dialogImage;
    private PostIndexViewModel postIndexViewModel;
    private bool allowed;
    private IEnumerable<PostWithLike> posts;
    private ClaimsPrincipal user;
    private string _username;
    private string _userId;
    private string _blogTitle;
    private bool _isInSearchMode;
    private string _searchQuery;
    private int _postId;
    private int notificationCount;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        _username = user?.FindFirst(JwtRegisteredClaimNames.Sub)?.Value;
        _userId = user?.FindFirst(JwtRegisteredClaimNames.NameId)?.Value;
        _postId = Id;
        await GetPost(Id);
        _searchQuery = SearchQuery;
        notificationCount = await NotificationService.GetNotificationsCount();
    }

    private void CancelPostDialog()
    {
        _dialog.CloseDialog();
    }

    private async Task OnSavePostDialog()
    {
        // Send PostEditViewModel direkte
        Console.WriteLine($"Updating post with ID {_viewEditPost.PostId}...");
        await PostService.UpdatePostAsync(_viewEditPost.PostId, _viewEditPost);
        Console.WriteLine($"Post with ID {_viewEditPost.PostId} updated.");
        Console.WriteLine("Posts updated after save operation.");
        await GetPost(_postId);
        _dialog.CloseDialog();
        Console.WriteLine("Dialog closed.");
    }


    private async Task GetPost(int postId)
    {
        Console.WriteLine($"BlogId when getting the posts: {postId}.");
        Console.WriteLine("In search mode");
        var postIndexViewModel = await PostService.GetPostByPostIdAsync(postId);
        posts = postIndexViewModel.Posts;
        _searchQuery = SearchQuery;
    }


    private async Task DeletePost(int postId)
    {
       
            var success = await PostService.DeletePostAsync(postId);
            if (success)
            {
                // Oppdater listen over innlegg her, eller naviger brukeren til en annen side
                NavigateToSearchPosts();
            }
            else
            {
                // Vis en feilmelding til brukeren
            }
        }
    


    private void EditPostDialog(string title, int postId, SharedModels.Entities.Post post)
    {
        _post = post;
        _viewEditPost = new PostEditViewModel()
            {
                PostId = postId, // Sett postens ID
                BlogId = Id,
                Title = post.Title,
                Content = post.Content,
                Created = post.Created,
                IsCommentAllowed = post.IsCommentAllowed,
                OwnerId = post.OwnerId,
                OwnerUsername = post.OwnerUsername,
                CountLike = post.CountLike,
                ImageBase64 = post.ImageBase64
            };
        // Legg til loggmeldinger for å sjekke verdier
        Console.WriteLine("EditPostDialog - Start");
        _dialog.Show();
    }



    void CancelDialog()
    {
        _dialog.CloseDialog();
    }

    void CancelImageDialog()
    {
        _dialogImage.CloseDialog();
    }

    private async Task Like(PostWithLike post)
    {
        if (post.Like == "Liked!")
        {
            Console.WriteLine("Deleting like...");
            await PostService.DeleteLikeAsync(post.Post.PostId);
            Console.WriteLine("Like deleted."); 
        }
        else
        {
            Console.WriteLine("Creating new like...");
            await PostService.CreateLikeAsync(post.Post.PostId);
            Console.WriteLine("New like created."); 
        }

        await GetPost(Id);
    }

    private void InsertImage(SharedModels.Entities.Post post)
    {
        _post = post;
        Console.WriteLine("InsertImageDialog - Start");
        _dialogImage.Show();
    }

    private async Task OnSaveImageDialog()
    {
        _viewEditPost = new PostEditViewModel()
        {
            PostId = _post.PostId, // Sett postens ID
            BlogId = _post.Blog.BlogId,
            Title = _post.Title,
            Content = _post.Content,
            Created = _post.Created,
            IsCommentAllowed = _post.IsCommentAllowed,
            OwnerId = _post.OwnerId,
            OwnerUsername = _post.OwnerUsername,
            CountLike = _post.CountLike,
            ImageBase64 = _post.ImageBase64
        };
        await PostService.UpdatePostAsync(_viewEditPost.PostId, _viewEditPost);
        await GetPost(Id);
        Console.WriteLine("Posts updated after save operation.");
        _dialogImage.CloseDialog();
        Console.WriteLine("Dialog closed.");
    }

    private async Task DeleteImage(SharedModels.Entities.Post post)
    {
        _post = post;
        _viewEditPost = new PostEditViewModel()
        {
            PostId = _post.PostId, // Sett postens ID
            BlogId = _post.Blog.BlogId,
            Title = _post.Title,
            Content = _post.Content,
            Created = _post.Created,
            IsCommentAllowed = _post.IsCommentAllowed,
            OwnerId = _post.OwnerId,
            OwnerUsername = _post.OwnerUsername,
            CountLike = _post.CountLike,
            ImageBase64 = ""
        };
        await PostService.UpdatePostAsync(_viewEditPost.PostId, _viewEditPost);
        await GetPost(Id);
        Console.WriteLine("Posts updated after save operation.");
        _dialogImage.CloseDialog();
        Console.WriteLine("Dialog closed.");
    }

    private void NavigateToComments(int postId)
    {
        NavigationManager.NavigateTo($"/searchSeeComment/{postId}/{_searchQuery}");
    }


    private void NavigateToSearchPosts()
    {
        NavigationManager.NavigateTo($"/search/{_searchQuery}");
    }
}


